/*
# flex

フレックスレイアウト

```
<div class="c-flex">
	<div class="c-flex__menu">
		<div class="c-flex__menu__item">
			ボックス1
		</div>
		<div class="c-flex__menu__item">
			ボックス2
		</div>
		<div class="c-flex__menu__item">
			ボックス3
		</div>
	</div>
</div>
```

*/

.c-flex{
	width: 100%;
	display: block;
	
	&__menu{
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: box;
		list-style: none;
		text-align: center;
		margin-bottom: $margin-large-x;

		&__item{
			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			box-flex: 1;
			width: 100%;
		}
	}
}

.c-flex--border{
	margin-bottom: $margin-large-x;
	border-bottom: 1px #a27474 dotted;
}

.c-flex__menu--center{
	-webkit-justify-content: center;
	justify-content: center;
}

.c-flex__menu--end{
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}