/*
# inline
 
inline-blockでのレイアウト用
  
```
<div class="c-inline">
  <div class="c-inline__cell">セル1<br>セル1</div>
  <div class="c-inline__cell">セル2</div>
</div>
```

**両端揃え**
```
<div class="c-inline c-inline--justify">
  <div class="c-inline__cell">セル1<br>セル1</div>
  <div class="c-inline__cell">セル2</div>
</div>
```
**右揃え**
```
<div class="c-inline c-inline--right">
  <div class="c-inline__cell">セル1<br>セル1</div>
  <div class="c-inline__cell">セル2</div>
</div>
```
**上揃え**
```
<div class="c-inline">
  <div class="c-inline__cell c-inline__cell--top">セルtop<br>セルtop</div>
  <div class="c-inline__cell c-inline__cell--top">セル2</div>
</div>
```
**真ん中揃え**
```
<div class="c-inline">
  <div class="c-inline__cell c-inline__cell--middle">セルmiddle<br>セルmiddle</div>
  <div class="c-inline__cell c-inline__cell--middle">セル2</div>
</div>
```

**下揃え**
```
<div class="c-inline">
  <div class="c-inline__cell c-inline__cell--bottom">セルbottom<br>セルbottom</div>
  <div class="c-inline__cell c-inline__cell--bottom">セル2</div>
</div>
```
*/

.c-inline {
  display: block;
}

// justify
.c-inline--justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
}

.c-inline--justify:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.c-inline--right{
  text-align: right;
}

.c-inline--left{
  text-align: left;
}

.c-inline__cell {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 14px;
}


// vertical-align
.c-inline__cell--middle {
  vertical-align: middle;
}

.c-inline__cell--bottom {
  vertical-align: bottom;
}

.c-inline__cell--middle {
  vertical-align: middle;
}

.c-inline__cell--top {
  vertical-align: top;
}