/* 
# calender

```
<table class="p-calender u-mb-24">
  <tr>
    <th>日</th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span class="p-calender__num">1</span></td>
    <td><span class="p-calender__num">2</span></td>
  </tr>

  ・・・
  
</table>
```

*/
.p-calender{
  width: 100%;
  tr{
    border-bottom: solid 1px $border-lighten;
  }
  tr:last-child{
    border-bottom: none;
  }
  td,th{
    text-align: left;
    padding: $margin-base;
    width: 100%/7;
    text-align: center;
    font-size: 11px;
  }
  td:hover,td.is-active,{
    background: $bg-default-darken;
  }
  td:last-child, td:first-child{
    color: $text-color-lighten;
  }
  &__num{
    padding: 2px;
    @include border-radius(2);
  }
  .is-today .p-calender__num{
    background: $bg-highlight;
    color: $text-color-white;
  }
}