/* 
#carousel

grid,thumbとの組み合わせ

```
<div class="p-carousel">
  <p class="p-carousel__image c-thumb"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></p>

  <ul class="p-carousel__menu c-grid c-grid--gutters">
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small is-active"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
    <li class="c-grid__col c-grid__col--2of12 c-thumb c-thumb--small"><img src="dist/img/7560647B_8_D_500.jpg" width="100%" alt=""></li>
  </ul>
</div>
```

*/
.p-carousel{}


// Element
// --------------------
.p-carousel__image{
  margin-bottom: $margin-large;
}

.p-carousel__menu{
  list-style: none;
  margin-bottom: $margin-large-x;
}